.activityContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activityInfoContainer {
    display: flex;
    border: 0.06rem solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    box-shadow: 2px 1px -1px rgba(0,0,0,0.2);
    background-color: #eee0fe;
    margin-top: 2.75rem;
    margin-bottom: 1rem;
    padding: 2rem;
}

.container p {
    font-family: 'Raleway', sans-serif !important;
    font-size: 1.5rem;
}

.activityEdit {
    align-self: center;
    border: 0.06rem solid #ccc;
    border-radius: 4rem;
    box-sizing: border-box;
    box-shadow:  2px 1px -1px rgba(0,0,0,0.2);
    font-weight: bold;
    background-color: #a56690;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    margin-right: 1rem;
}

.activityEdit {
    background-color: #c5a1b9;
    cursor: pointer;
}
