.CommentsContainer .addComment {
    align-self: center;
    padding: 0.5rem;
    border: 0.06rem solid #ccc;
    border-radius: 4rem;
    box-sizing: border-box;
    box-shadow:  2px 1px -1px rgba(0,0,0,0.2);
    font-weight: bold;
    background-color: #a56690;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 2rem;
}

.CommentsContainer .addComment:hover {
    background-color: #c5a1b9;
    cursor: pointer;
}

.comment {
    display: flex;
    flex-direction: column;
    border: 0.06rem solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    box-shadow: 2px 1px -1px rgba(0,0,0,0.2);
    background-color: #eee0fe;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.commentBody {
    font-size: 1.5rem;
}

.commentInfo {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.commentUser {
    font-family: 'Raleway', sans-serif !important;
    font-weight: bold;
}

.commentDelete {
    border: 0.06rem solid #ccc;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: 2px 1px -1px rgba(0,0,0,0.2);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.25rem;
    align-self: flex-end;
    background-color: #fbf7ff;
}

.commentDelete:hover {
    background-color: #c5a1b9;
    cursor: pointer;
}

.CommentsContainer ul {
    padding: 0;
}
