.messages {
    font-size: 1.15rem;
    color: #590674;
    font-weight: bold;
}

.authStatus {
    font-size: 1.15rem;
    color: #590674;
    font-weight: bold;
}

.loginH1 {
    font-family: 'Raleway', sans-serif !important;
    font-size: 2rem;
    color: #060565;
    margin-top: 1.5rem;
}

.loginHeadline {
    margin-top: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #060565;
}

.login_container {
    text-align: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginForm input {
    align-self: center;
    margin-top: 0.5rem;
}

.loginForm button {
    align-self: center;
    margin-top: 0.5rem;
    border: 0.06rem solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    box-shadow: 2px 1px -1px rgba(0,0,0,0.2);
    font-weight: bold;
    background-color: #f7cbe8;
}

.loginForm button:hover {
    background-color: #c5a1b9;
    cursor: pointer;
}

.loginForm label {
    color: #650343;
    font-weight: bolder;
    margin-top: 0.5rem;
}

.registrationHeadline {
    margin-top: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #060565;
}

.registrationLink {
    font-size: 1.25rem;
    text-decoration: none;
    color: #650343;
    font-weight: bold;
}

.registrationLink:hover {
    text-decoration: underline;
    cursor: pointer;
}


.submitLoader {
    align-self: center;
}


@media only screen and (max-width: 550px) {
    .login_container {
        margin-top: 50%;
    }

    .loginForm label {
        font-size: 1.5rem;
    }

    .loginForm input {
        width: 40%;
    }

    .loginForm button {
        width: 18%;
    }
}
