.register_container {
    text-align: center;
}

h2 {
    margin-top: 3rem;
    font-family: 'Raleway', sans-serif;
    color: #060565;
}

h3 {
    color: #060565;
}

.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registerForm input {
    align-self: center;
    margin-top: 0.5rem;
}

.registerForm button {
    align-self: center;
    margin-top: 0.5rem;
    border: 0.06rem solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    box-shadow: 2px 1px -1px rgba(0,0,0,0.2);
    font-weight: bold;
    background-color: #f7cbe8;
}

.registerForm button:hover {
    background-color: #c5a1b9;
    cursor: pointer;
}

.registerForm label {
    color: #650343;
    font-weight: bolder;
    margin-top: 0.5rem;
}


@media only screen and (max-width: 550px) {
    .register_container {
        margin-top: 40%;
    }

    .register_container h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .register_container h3 {
        font-size: 1.5rem;
    }

    .registerForm label {
        font-size: 1.5rem;
    }

    .registerForm input {
        width: 40%;
    }

    .registerForm button {
        width: 18%;
    }
}
