* {
    background-color: #f7f5fe;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #060565;
}

.nav-bar p {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 7rem;
    color: #060565;
}

.nav-links {
    display: flex;
    padding-left: 75%;
    justify-content: space-between;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}

.nav-links .logoutLink {
    padding-left: 1rem;
    text-decoration: none;
    cursor: pointer;
    color: #060565;
}

.nav-links .logoutLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-links .tripsLink {
    text-decoration: none;
    cursor: pointer;
    color: #060565;
}

.nav-links .tripsLink:hover {
    text-decoration: underline;
    cursor: pointer;
}
