.tripForm {
    margin-top: 2.75rem;
    border: 0.06rem solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    box-shadow: 2px 1px -1px rgba(0,0,0,0.2);
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: #eee0fe;
}

.countrySelect {
    color: black;
    background-color: white;
    margin-bottom: 2rem;
    display: inline-block;
}

.tripForm label {
    margin-left: 1rem;
    color: #650343;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.tripForm input {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.city_input {
    align-self: flex-start;
    width: 30%;
}

.addEmailHeadline {
    margin-left: 1rem;
    color: #650343;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1rem;
}

.emails {
    border-style: none;
    border-radius: none;
    box-shadow: none;
}

.react-multi-email {
    padding: 0;
}

.react-multi-email [data-tag] [data-tag-item] {
    overflow: visible;
}

.tripForm .submitButton {
    width: 20%;
    height: 2rem;
    border: 0.06rem solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    box-shadow: 2px 1px -1px rgba(0,0,0,0.2);
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: center;
    background-color: #fbf7ff;
}

.tripForm .submitButton:hover {
    background-color: #c5a1b9;
    cursor: pointer;
}

.datePick {
    width: 20%;
}

.react-datepicker__header {
    background-color: #c5a1b9;
}

.react-datepicker__current-month {
    background-color: #c5a1b9;
}

.react-datepicker__day-names {
    background-color: #c5a1b9;
}

.react-datepicker__day-name {
    background-color: #c5a1b9;
}

.react-datepicker__month-container {
    background-color: #c5a1b9;
}

.react-datepicker__month {
    background-color: #c5a1b9;
}

.react-datepicker__week {
    background-color: #c5a1b9;
}

.react-datepicker__day {
    background-color: #c5a1b9;
}

.react-datepicker__day--selected {
    background-color: #7c476a;
}

.failed {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}