.schedulerContainder {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: flex-start;
}

.addActivityContainer {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
}

.add_activity {
    border: 0.06rem solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    box-shadow: 2px 1px -1px rgba(0,0,0,0.2);
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5%;
    margin-right: 1rem;
    align-self: center;
    background-color: #fbf7ff;
    font-family: 'Roboto', sans-serif;
}

.add_activity:hover {
    background-color: #c5a1b9;
    cursor: pointer;
}

.appointment {
    background-color: #c5a1b9 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1rem !important;
}

.appointment_Outdoor {
    background-color: #5d9439 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1rem !important;
}

.appointment_Food {
    background-color: #e78a20 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1rem !important;
}

.appointment_Drink {
    background-color: #e9d149 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1rem !important;
}

.appointment_Meeting {
    background-color: #9eb7ee !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1rem !important;
}

.appointment_Museum {
    background-color: #6c15b3 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1rem !important;
}

.appointment_Tour {
    background-color: #7fc288 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1rem !important;
}

.appointment_Sports {
    background-color: #6261b6 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1rem !important;
}