.countryName {
    font-family: 'Belanosima', sans-serif !important;
}

.cityName {
    font-family: 'Belanosima', sans-serif !important;
}

.dates {
    font-family: 'Roboto', sans-serif !important;
    margin-top: 0.5rem !important;
}

.tripCardLink {
    color: black;
    text-decoration: none;
}
